@import 'vendors/include-media';

h2 {
  font-size: 24px;

  @include media('>=tablet') {
    font-size: 32px;
  }
}

h3 {
  font-size: 18px;

  @include media('>=tablet') {
    font-size: 24px;
  }
}

.text-accent {
  color: $accent;
}