.toolbar__cart-counter {
  font-size: 10px;
  position: absolute;
  top: 2px;
  right: 5px;
  color: #fff;
  font-weight: bold;
  background: $accent;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}