<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span>Phone Catalog</span>
    </h2>
    <span flex></span>

    <md-button
      class="md-icon-button"
      ui-sref="home.phones"
      ng-if="$ctrl.isAuthenticated()"
      aria-label="Home">
      <i class="material-icons">home</i>
    </md-button>

    <md-button
      class="md-icon-button"
      ui-sref="cart"
      ng-if="$ctrl.isAuthenticated()"
      aria-label="Cart">
      <i class="material-icons">shopping_cart</i>
      <span
        ng-if="!$ctrl.isEmpty()"
        class="toolbar__cart-counter">
        {{ $ctrl.getCount() }}
      </span>
    </md-button>

    <md-button
      class="toolbar__loginBtn"
      aria-label="Login"
      ng-if="!$ctrl.isAuthenticated()"
      ng-click="$ctrl.login()">
      Login
    </md-button>

    <md-button
      class="toolbar__logoutBtn"
      aria-label="Logout"
      ng-if="$ctrl.isAuthenticated()"
      ng-click="$ctrl.logout()">
      Logout
    </md-button>

  </div>
</md-toolbar>